.home-container {
    height: calc(100vh - 100px);
}

.home-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.home-left-side {
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;
}

.home-right-side {
    display: flex;
    justify-content: center;
    width: 50%;
}

.profile-home-container {
    background-color: brown;
    position: relative;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.advertisement-container {
    animation: 1s ease-out 0s 1 slideInFromRight;
    width: 100%;
}

.advertisement-container h2{
    margin-top: 0px;
}

.advertisement-one {
    background-color: #124E66;
    color: white;
    padding: 25px;
}

.advertisement-two {
    background-color: #748D92;
    color: white;
    padding: 25px;
}

.about-me-home-btn {
    width: 200px;
    height: 50px;
    background-color: #748D92;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
}

.about-me-home-btn:hover {
    background-color: #124E66;
}

.about-me-home-btn:active {
    background-color: #748D92;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}